a{
    color: #fff;
}
a:hover{
    color: #000;
    text-decoration-line: none;
}
nav.navbar{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
button.navbar-toggler{
    color: #fff;
    border: 1px solid #fff;
    text-decoration-color: #fff;
    padding-right: 2px;
    padding-left: 2px;
    padding: 5px;
}
#rotateX{
    padding-top: 3px;
}
#rotate{
    padding-top: 3px;
    transform: rotate(90Deg);
}